[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosqlite = "*"
alembic = "*"
certifi = "*"
"discord.py" = ">=1.7"
fuzzywuzzy = {version = "*", extras = ["speedup"]}
pytz = "*"
regex = "*"
sqlalchemy = "*"
tzlocal = "*"
Pint = "*"

[dev-packages]
coverage = "*"
ipython = "*"
nest_asyncio = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-profiling = "*"

[requires]
python_version = "3.9"
